extends layout

block content
    // main
    main.container-fluid.mb-5(role="main")
      .impressum
        h3 Impressum
        p
          | Leander Brockes
          br
          | 
          | Musterstraße 1
          br
          | 
          | 12345 Dresden
          br
          | Telefon: 0351-123456
          br
          | E-Mail: 
          a(href="leanderbrockes@mustermail.de") leanderbrockes@mustermail.de