extends layout

block content
    // main
    main.container-fluid.mb-5(role="main")
      // Map
      .container-fluid
        h3 Visualisierung als Karte:
        .container-fluid
          #map.map
      
    script.
      //console.log("This is working")
      var cities = !{data};
      console.log(cities)
    script(defer, src="javascripts/Uebung05_getWeather.js")
    script(defer, src="javascripts/Uebung05_map.js")
